/* 
    Created on : 29 sept. 2020, 11:22:02
    Author     : euggio
*/

.active {
    font-weight: bold;
}

.selectBis {
    margin : 0 20px 10px 0px;
}

.selectBis2 {
    padding: 0 50px 10px 0;
}

.bg-lightGrey{
    background-color: #cccccc;
}

.paddingBis {
    padding-bottom: 10px;
    padding-top: 25px;
}

.topop {
    margin-top: -30px;
}

.container2 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left : 50px;
}

a:hover {
    font-weight: bold;
    color: blue;
    text-decoration: none;
}

@media (min-width: 320px) {
    .container2 {
        width: 85%;
    }
}

@media (min-width: 576px) {

    .input-group.mb-1{
        display: inline-block;
    }
    /*    body{
        }
        .paddingBis{
            display: flex;
            flex-flow: row wrap;
        }*/

}

@media (min-width: 768px) {
    body{
    }
    .container2 {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    body{
    }
    .container2 {
        max-width: 1140px;
    }
}

@media (min-width: 1200px) {
    body{
    }
    .container2 {
        max-width: 1140px;
    }
}

.form-control {
    display: inline;
}

.row2 {
    flex-direction : row-reverse;
}

[slider] {
    width: 300px;
    position: relative;
    height: 5px;
    margin: 45px 0 10px 0;
}

[slider] > div {
    position: absolute;
    left: 13px;
    right: 15px;
    height: 5px;
}
[slider] > div > [inverse-left] {
    position: absolute;
    left: 0;
    height: 5px;
    border-radius: 10px;
    background-color: #CCC;
    margin: 0 7px;
}

[slider] > div > [inverse-right] {
    position: absolute;
    right: 0;
    height: 5px;
    border-radius: 10px;
    background-color: #CCC;
    margin: 0 7px;
}


[slider] > div > [range] {
    position: absolute;
    left: 0;
    height: 5px;
    border-radius: 14px;
    background-color: blue;
}

[slider] > div > [thumb] {
    position: absolute;
    top: -7px;
    z-index: 2;
    height: 20px;
    width: 20px;
    text-align: left;
    margin-left: -11px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    background-color: #FFF;
    border-radius: 50%;
    outline: none;
}

[slider] > input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: 14px;
    top: -2px;
    width: 100%;
    opacity: 0;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent;
}

div[slider] > input[type=range]:focus {
    outline: none;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: blue;
    -webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
    background: transparent;
    border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
    display: none;
}

[slider] > div > [sign] {
    opacity: 0;
    position: absolute;
    margin-left: -11px;
    top: -39px;
    z-index:3;
    background-color: #214ad0;
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

[slider] > div > [sign]:after {
    position: absolute;
    content: '';
    left: 0;
    border-radius: 16px;
    top: 19px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top-width: 16px;
    border-top-style: solid;
    border-top-color: #214ad0;
}

[slider] > div > [sign] > span {
    font-size: 12px;
    font-weight: 700;
    line-height: 28px;
}

[slider]:hover > div > [sign] {
    opacity: 1;
}

.checked {
    color: orange;
}

.break:after {
    content: ' ';
    display: block;
}

.undecorated:hover {
    text-decoration:none;
}

.hover:hover {
    color: blue;
}

active:active {
    color: green;
}

.centerInDiv {
    display: flex;
    justify-content: center;
}

div.aria-widget-slider {
    clear: both;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

div.rail-label {
    padding-right: 0.5em;
    text-align: right;
    float: left;
    width: 4em;
    position: relative;
    top: -0.5em;
}

div.rail-label.max {
    padding-left: 0.5em;
    text-align: left;
}

div.aria-widget-slider .rail {
    background-color: #eee;
    border: 1px solid #888;
    position: relative;
    height: 4px;
    float: left;
}

div.aria-widget-slider img[role="slider"] {
    position: absolute;
    padding: 0;
    margin: 0;
    top: -10px;
}

div.aria-widget-slider img[role="slider"].focus,
div.aria-widget-slider img[role="slider"]:hover {
    outline-color: rgb(140, 203, 242);
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
}

div.aria-widget-slider .rail.focus {
    background-color: #aaa;
}

.arrowCategory {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.leftCategory {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.centerCategory {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    list-style-type: none;
    list-style-position: outside;
}

.gray {
    color: gray;
}

.author {
    white-space: nowrap;
} 

#more {
    display: none;
}

.leftShow {
    margin-left : 15px;
}

/*
  Card
*/
